@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";

:root {
    --font-pretendard: Pretendard, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-pretendard);
}